<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="search" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- sort list -->
<div class="container mt-3">
  <div class="row">
    <form class="col-12 row align-items-center justify-content-end" action="/restaurants/sort">
      <div class="col-auto">
        <div class="custom-control custom-radio custom-control-inline" id="order-items">
          <input class="form-check-input" type="radio" id="asc" value="" name="order" {{#if asc}}checked{{/if}}>
          <label class="form-check-label" for="asc">▲</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" id="order-items">
          <input class="form-check-input" type="radio" id="desc" value="-" name="order" {{#if desc}}checked{{/if}}>
          <label class="form-check-label" for="desc">▼</label>
        </div>
      </div>
      <select class="col-sm-3 col-lg-1 custom-select custom-select-sm mr-4" name="sort" id="sort">
        <option value="name" {{#if name}}selected{{/if}}>餐廳名稱</option>
        <option value="rating" {{#if rating}}selected{{/if}}>評分</option>
      </select>
      <button class="col-lg-1 col-sm-2 btn btn-info" type="submit">排序</button>
    </form>
  </div>
</div>


<!-- restaurant list -->
<div class="container mt-3">
  <div class="row">
    {{#each restaurant}}
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <a href="/restaurants/{{this._id}}/detail" class="text-secondary">
          <img class="img card-img-top" src="{{this.image}}" alt="{{this.name}}"
            onerror="this.src='/images/blank-img.jpeg';this.onerror = null">
        </a>
        <div class="card-body p-3">
          <h6 class="card-title mb-1">{{this.name}}</h6>
          <div class="restaurant-category mb-1">
            <i class="fas fa-utensils pr-2"></i> {{this.category}}
          </div>
          <span class="badge badge-pill badge-danger font-weight-normal">
            {{this.rating}}
            <i class="fas fa-star fa-xs"></i>
          </span>
        </div>
        <div class="card-footer">
          <a href="/restaurants/{{this._id}}/detail">
            <button class="btn btn-primary mr-2">Detail</button>
          </a>
          <a href="/restaurants/{{this._id}}/edit">
            <button class="btn btn-primary mr-2">Edit</button>
          </a>
          <button class="btn btn-danger mr-2 delete-btn" data-toggle="modal" data-target="#restaurant-modal"
            data-id="{{this._id}}" data-name="{{this.name}}">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- 如果keyword搜尋不到符合的餐廳才會回傳 -->
{{#unless restaurant}}
<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center text-secondary">
      <h1>很抱歉，無法搜尋到符合「{{keyword}}」的餐廳，請重新搜尋！</h1>
    </div>
  </div>
</div>
{{/unless}}

<!-- Modal -->
<div class="modal fade" id="restaurant-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">確認資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body confirm-info">
        您確定要刪除這筆餐廳資訊嗎？
      </div>
      <div class="confirm-btn modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form action="/restaurants/?_method=DELETE" method="POST" style="display: inline">
          <button class="btn btn-danger">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- 刪除確認資訊 -->
<script>
  document.addEventListener('click', (event) => {
    const target = event.target
    if (target.matches('.delete-btn')) {
      const confirmBtn = document.querySelector('.confirm-btn')
      const confirmInfo = document.querySelector('.confirm-info')
      const id = target.dataset.id
      const name = target.dataset.name
      confirmInfo.innerHTML = `您確定要刪除「${name}」的資訊嗎？`
      confirmBtn.innerHTML = `<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form action="/restaurants/${id}?_method=DELETE" method="POST"
          style="display: inline">
          <button class="btn btn-danger">Yes</button>
        </form>`
    }
  })
</script>